<style>
body {
    font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}
</style>

<script src="http://cdn.ckeditor.com/4.5.7/standard/ckeditor.js"></script>

<form action="/addquestion" method="POST">
    <div>
        <h2>Hi Vibin and Lavanya :-)</h2>
    </div>						
    <ul>			
        <li>
            <label class="description required">Question in XML format</label>
            <div>
                <textarea rows="10" cols="100" id="simplequestion[content_xml]" name="simplequestion[content_xml]"></textarea>
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'simplequestion[content_xml]' );
                </script>
            </div> 
        </li>
        <li>
            <label class="description" for="answer">Answer (optional)</label>
            <div>
                <textarea rows="3" cols="100" id="simplequestion[answer]" name="simplequestion[answer]"></textarea> 
                <script>
                    // Replace the <textarea id="editor1"> with a CKEditor
                    // instance, using default configuration.
                    CKEDITOR.replace( 'simplequestion[answer]' );
                </script>
                
            </div> 
        </li>		
        <li>
            <label class="description required">Common Core Standard</label>
            <div>
                <select id="standard" name="simplequestion[standard]"> 
                    <option value="CCSS.MATH.CONTENT.7.RP.A.1" selected="selected">CCSS.MATH.CONTENT.7.RP.A.1</option>
                    <option value="CCSS.MATH.CONTENT.7.RP.A.2">CCSS.MATH.CONTENT.7.RP.A.2</option>
                    <option value="CCSS.MATH.CONTENT.7.RP.A.3">CCSS.MATH.CONTENT.7.RP.A.3</option>
                    <option value="CCSS.MATH.CONTENT.7.NS.A.1">CCSS.MATH.CONTENT.7.NS.A.1</option>
                    <option value="CCSS.MATH.CONTENT.7.NS.A.2">CCSS.MATH.CONTENT.7.NS.A.2</option>
                    <option value="CCSS.MATH.CONTENT.7.NS.A.3">CCSS.MATH.CONTENT.7.NS.A.3</option>
                    <option value="CCSS.MATH.CONTENT.7.EE.A.1">CCSS.MATH.CONTENT.7.EE.A.1</option>
                    <option value="CCSS.MATH.CONTENT.7.EE.A.2">CCSS.MATH.CONTENT.7.EE.A.2</option>
                    <option value="CCSS.MATH.CONTENT.7.EE.B.3">CCSS.MATH.CONTENT.7.EE.B.3</option>
                    <option value="CCSS.MATH.CONTENT.7.EE.B.4">CCSS.MATH.CONTENT.7.EE.B.4</option>
                    <option value="CCSS.MATH.CONTENT.7.G.A.1">CCSS.MATH.CONTENT.7.G.A.1</option>
                    <option value="CCSS.MATH.CONTENT.7.G.A.2">CCSS.MATH.CONTENT.7.G.A.2</option>
                    <option value="CCSS.MATH.CONTENT.7.G.A.3">CCSS.MATH.CONTENT.7.G.A.3</option>
                    <option value="CCSS.MATH.CONTENT.7.G.B.4">CCSS.MATH.CONTENT.7.G.B.4</option>
                    <option value="CCSS.MATH.CONTENT.7.G.B.5">CCSS.MATH.CONTENT.7.G.B.5</option>
                    <option value="CCSS.MATH.CONTENT.7.G.B.6">CCSS.MATH.CONTENT.7.G.B.6</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.A.1">CCSS.MATH.CONTENT.7.SP.A.1</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.A.2">CCSS.MATH.CONTENT.7.SP.A.2</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.B.3">CCSS.MATH.CONTENT.7.SP.B.3</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.B.4">CCSS.MATH.CONTENT.7.SP.B.4</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.C.5">CCSS.MATH.CONTENT.7.SP.C.5</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.C.6">CCSS.MATH.CONTENT.7.SP.C.6</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.C.7">CCSS.MATH.CONTENT.7.SP.C.7</option>
                    <option value="CCSS.MATH.CONTENT.7.SP.C.8">CCSS.MATH.CONTENT.7.SP.C.8</option>
                    <option value="CCSS.MATH.CONTENT.8.NS.A.1">CCSS.MATH.CONTENT.8.NS.A.1</option>
                    <option value="CCSS.MATH.CONTENT.8.NS.A.2">CCSS.MATH.CONTENT.8.NS.A.2</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.A.1">CCSS.MATH.CONTENT.8.EE.A.1</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.A.2">CCSS.MATH.CONTENT.8.EE.A.2</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.A.3">CCSS.MATH.CONTENT.8.EE.A.3</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.A.4">CCSS.MATH.CONTENT.8.EE.A.4</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.B.5">CCSS.MATH.CONTENT.8.EE.B.5</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.B.6">CCSS.MATH.CONTENT.8.EE.B.6</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.C.7">CCSS.MATH.CONTENT.8.EE.C.7</option>
                    <option value="CCSS.MATH.CONTENT.8.EE.C.8">CCSS.MATH.CONTENT.8.EE.C.8</option>
                    <option value="CCSS.MATH.CONTENT.8.F.A.1">CCSS.MATH.CONTENT.8.F.A.1</option>
                    <option value="CCSS.MATH.CONTENT.8.F.A.2">CCSS.MATH.CONTENT.8.F.A.2</option>
                    <option value="CCSS.MATH.CONTENT.8.F.A.3">CCSS.MATH.CONTENT.8.F.A.3</option>
                    <option value="CCSS.MATH.CONTENT.8.F.B.4">CCSS.MATH.CONTENT.8.F.B.4</option>
                    <option value="CCSS.MATH.CONTENT.8.F.B.5">CCSS.MATH.CONTENT.8.F.B.5</option>
                    <option value="CCSS.MATH.CONTENT.8.G.A.1">CCSS.MATH.CONTENT.8.G.A.1</option>
                    <option value="CCSS.MATH.CONTENT.8.G.A.2">CCSS.MATH.CONTENT.8.G.A.2</option>
                    <option value="CCSS.MATH.CONTENT.8.G.A.3">CCSS.MATH.CONTENT.8.G.A.3</option>
                    <option value="CCSS.MATH.CONTENT.8.G.A.4">CCSS.MATH.CONTENT.8.G.A.4</option>
                    <option value="CCSS.MATH.CONTENT.8.G.A.5">CCSS.MATH.CONTENT.8.G.A.5</option>
                    <option value="CCSS.MATH.CONTENT.8.G.B.6">CCSS.MATH.CONTENT.8.G.B.6</option>
                    <option value="CCSS.MATH.CONTENT.8.G.B.7">CCSS.MATH.CONTENT.8.G.B.7</option>
                    <option value="CCSS.MATH.CONTENT.8.G.B.8">CCSS.MATH.CONTENT.8.G.B.8</option>
                    <option value="CCSS.MATH.CONTENT.8.G.C.9">CCSS.MATH.CONTENT.8.G.C.9</option>
                    <option value="CCSS.MATH.CONTENT.8.SP.A.1">CCSS.MATH.CONTENT.8.SP.A.1</option>
                    <option value="CCSS.MATH.CONTENT.8.SP.A.2">CCSS.MATH.CONTENT.8.SP.A.2</option>
                    <option value="CCSS.MATH.CONTENT.8.SP.A.3">CCSS.MATH.CONTENT.8.SP.A.3</option>
                    <option value="CCSS.MATH.CONTENT.8.SP.A.4">CCSS.MATH.CONTENT.8.SP.A.4</option>
                </select>
            </div>
        </li>		
        <li>
            <label class="description" for="grade">Grade (0-12, 0=Kindergarten)</label>
            <div>
                <select id="grade" name="simplequestion[grade]"> 
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8" selected="selected">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>     
                    <option value="11">11</option>                
                    <option value="12">12</option>
                </select>
            </div> 
        </li>		
        <li>
            <label class="description" for="subject">Subject</label>
            <div>
                <select id="subject" name="simplequestion[subject]"> 
                    <option value="Math" selected="selected">Math</option>
                    <option value="ELA">ELA</option>
                    <option value="Science">Science</option>
                </select>
            </div> 
        </li>
        <li>
            <label class="description" for="level">Difficulty Level (1-5)</label>
            <div>
                <select id="level" name="simplequestion[level]"> 
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected="selected">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div> 
        </li>		
        <li>
            <label class="description required">Source</label>
            <div>
                <input id="source" name="simplequestion[source]" type="text" value="OLPP" required> 
            </div>
        </li>		
        <li>
            <label class="description required">Question Type</label>
            <div>
                <select id="question_type" name="simplequestion[question_type]"> 
                    <option value="Freeform" selected="selected">Freeform</option>
                    <option value="Multiple Choice">Multiple Choice</option>
                </select>
            </div> 
        </li>		
        <li>
            <label class="description required" for="question_part">Question Part (0 = Parent Question, 1 = Part A, etc.)</label>
            <div>
                <select id="question_part" name="simplequestion[question_part]"> 
                    <option value="0" selected="selected">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>                
                </select>
            </div> 
        </li>		
        <li>
            <label class="description" for="parent_question">Parent Question ID (optional) </label>
            <div>
                <input size="100" id="parent_question" name="simplequestion[parent_question]" type="text" maxlength="255" value=""> 
            </div> 
        </li>		
        <li>
            <label class="description">Bloom's Taxonomy (optional)</label>
            <div>
                <select id="bloom_taxonomy" name="simplequestion[bloom_taxonomy]"> 
                    <option value="" selected="selected"></option>
                    <option value="Apply">Apply</option>
                    <option value="Understand">Understand</option>
                    <option value="Remember">Remember</option>
                    <option value="Analyze">Analyze</option>
                    <option value="Evaluate">Evaluate</option>
                    <option value="Create">Create</option>
                </select>
            </div> 
        </li>		
        <li>
            <label class="description">Answer Length (optional, in number of lines)</label>
            <div>
                <select id="answer_length" name="simplequestion[answer_length]"> 
                    <option value="" selected="selected"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>                
                </select>
            </div> 
        </li>		
    </ul>
    <input type="hidden" name="simplequestion[is_parent]" value="TRUE">		
    <input type="hidden" name="simplequestion[is_child]" value="FALSE">		
    <input type="hidden" name="simplequestion[is_main]" value="TRUE">		
    <input type="hidden" name="simplequestion[is_differentiated]" value="FALSE">		
    <input type="hidden" name="simplequestion[is_derived]" value="FALSE">		
    <input type="hidden" name="simplequestion[is_original]" value="TRUE">		
    <input class="button_text" type="submit" name="submit" value="Submit">        
</form>